<section class="hero">
    <div class="hero-slider">
        <div class="hero-slides">
            <article class="hero-slide">
                <div class="hero-slide-info container">
                    <div class="hero-slide-title">
                        <h1>O destino do mundo está nas suas mãos</h1>
                    </div>
                    <div class="hero-slide-description">
                        <p>São seis personagens iniciais e seis personagens secretos desbloqueáveis com uma mecânica de
                            jogo
                            extremamente fácil de aprender, dinâmica, inovadora e viciante. E, além dos torneios, você
                            pode
                            mergulhar no modo história, desvendando as intrigas políticas e os segredos da cidadezinha
                            de
                            Apolínea
                            do Sul e das motivações do misterioso Makiabel.</p>
                    </div>
                    <div class="hero-slide-actions">
                            <a href="#" class="btn btn--primary">Baixe o Jogo</a>
                            <a href="#" class="btn btn--secondary">Veja o Trailer</a>
                    </div>
                    <div class="hero-slider-controls">
                            <span class="hero-slider-controls-item active"></span>
                            <span class="hero-slider-controls-item"></span>
                            <span class="hero-slider-controls-item"></span>
                            <span class="hero-slider-controls-next"></span>
                    </div>
                </div>
                <div class="hero-slide-image">
                    <picture>
                        <source media="(max-width: 567px)" srcset="images/slide-01.jpg">
                        <source media="(min-width: 568px)" srcset="images/slide-01@3x.jpg">
                        <img src="images/slide-01.jpg" alt="Slide 01">
                    </picture>
                </div>
            </article>
        </div>
    </div>
</section>
