<section class="hero">
    <div class="hero-slides">
        <article class="hero-slide">
            <div class="hero-slide-info container">
                <div class="hero-slide-title">
                    <h1>O destino do mundo está nas suas mãos</h1>
                </div>
                <div class="hero-slide-description">
                    <p>São seis personagens iniciais e seis personagens secretos desbloqueáveis com uma mecânica de
                        jogo
                        extremamente fácil de aprender, dinâmica, inovadora e viciante. E, além dos torneios, você
                        pode
                        mergulhar no modo história, desvendando as intrigas políticas e os segredos da cidadezinha
                        de
                        Apolínea
                        do Sul e das motivações do misterioso Makiabel.</p>
                </div>
                <div class="hero-slide-actions">
                    <a href="#" class="btn btn--primary">Baixe o Jogo</a>
                    <a href="#" class="btn btn--secondary">Veja o Trailer</a>
                </div>
            </div>
            <div class="hero-slide-image">
                <picture>
                    <source media="(max-width: 567px)" srcset="uploads/slide-01.jpg">
                    <source media="(min-width: 568px)" srcset="uploads/slide-01@3x.jpg">
                    <img class="img-responsive" src="uploads/slide-01.jpg" alt="Slide 01">
                </picture>
            </div>
        </article>

        <article class="hero-slide">
            <div class="hero-slide-info container">
                <div class="hero-slide-title">
                    <h1>Campeão de várias formas</h1>
                </div>
                <div class="hero-slide-description">
                    <p>Melhor Jogo por voto popular no SBGames 2015 e melhor jogo
                        Brasileiro na BGS de 2016. Além disso o projeto já foi
                        aprovado no Steam Greenlight, sendo seu primeiro lançamento
                        a partir dessa plataforma. Além de ter ganho o prêmio melhor jogo do mundo, melhor jogo da
                        terra, melhor jogo de luta do mundo e o jogo mais irado para jogar com os amigos.</p>
                </div>
                <div class="hero-slide-actions">
                    <a href="#" class="btn btn--secondary">Saiba Mais</a>
                </div>
            </div>
            <div class="hero-slide-image">
                <picture>
                    <source media="(max-width: 567px)" srcset="uploads/slide-02.jpg">
                    <source media="(min-width: 568px)" srcset="uploads/slide-02@3x.jpg">
                    <img class="img-responsive" src="uploads/slide-01.jpg" alt="Slide 01">
                </picture>
            </div>
        </article>

        <article class="hero-slide">
            <div class="hero-slide-info container">
                <div class="hero-slide-title">
                    <h1>A Nossa História</h1>
                </div>
                <div class="hero-slide-description">
                    <p>Durante uma festa a fantasia, uma misteriosa divindade concede poderes aos
                        convidados de acordo com os trajes que estão usando. Agora, eles precisam
                        demonstrar esses poderes através de um torneio cósmico, caso queiram se
                        libertar da prisão mágica.</p>
                </div>
                <div class="hero-slide-actions">
                    <a href="#" class="btn btn--secondary">Saiba Mais</a>
                </div>
            </div>
            <div class="hero-slide-image">
                <picture>
                    <source media="(max-width: 567px)" srcset="uploads/slide-03.jpg">
                    <source media="(min-width: 568px)" srcset="uploads/slide-03@3x.jpg">
                    <img class="img-responsive" src="uploads/slide-03.jpg" alt="Slide 01">
                </picture>
            </div>
        </article>

        <div class="hero-slider-control container">
            <div class="hero-slider-controls">
                <span class="hero-slider-controls-next"></span>
            </div>
        </div>
    </div>
</section>
