// Imports
// ------------------------------------------------
@import '../base/variables';
@import '../base/mixins';

// Hero Slider 
// ------------------------------------------------
.hero-slider {
    display: flex;
    min-height: 42vh;
    align-items: flex-end;

    @include mq('large') {
        min-height: 550px;
    }
}

// TO-DO: https://css-tricks.com/practical-css-scroll-snapping/
.hero-slide {
    $hero-slide-width: 50%;

    &-title {
        max-width: $hero-slide-width;

        h1 {
            font-size: $size-20;
            line-height: $size-26;

            @include mq('large') {
                font-size: $size-48;
                line-height: $size-64;
            }
        }
    }

    &-description {
        display: none;
        max-width: $hero-slide-width;
        line-height: $size-26;
        padding-bottom: 2rem;

        @include mq('large') {
            display: inline-block;
        }

    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        min-height: 1200px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 200%;

            @include mq('small') {
                width: 100%;
            }
        }
    }

    &-actions {
        .btn {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}
