<section class="hero">
    <div class="hero-slider">
        <article class="hero-slide container">
            <div class="hero-slide-title">
                <h1>O destino do mundo está nas suas mãos</h1>
            </div>
            <div class="hero-slide-description">
                <p>São seis personagens iniciais e seis personagens secretos desbloqueáveis com uma mecânica de jogo
                    extremamente fácil de aprender, dinâmica, inovadora e viciante. E, além dos torneios, você pode
                    mergulhar no modo história, desvendando as intrigas políticas e os segredos da cidadezinha de
                    Apolínea
                    do Sul e das motivações do misterioso Makiabel.</p>
            </div>
            <div class="hero-slide-actions">
                <button class="btn btn--primary">Baixe o Jogo</button>
                <button class="btn btn--secondary">Veja o Trailer</button>
            </div>
            <div class="hero-slide-image">
                <figure>
                    <img src="images/slide-01.jpg" alt="Personagem">
                </figure>
            </div>
        </article>
    </div>
</section>
