// Imports
@import '../base/variables';
@import '../base/mixins';

// Hero 
.hero {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-size: 100%;
    z-index: -1;
}

.hero-slider {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 720px;
    align-items: center;
}

.hero-slide {
    $hero-slide-width: 570px;

    &-title {
        max-width: $hero-slide-width;

        h1 {
            font-size: $size-48;
            line-height: $size-64;
        }
    }

    &-description {
        max-width: $hero-slide-width;
        line-height: $size-26;
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
