// Imports
// ------------------------------------------------
@import '../base/variables';
@import '../base/mixins';

.about {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 800px;
    display: flex;
    align-items: center;

    @include mq('large', 'max') {
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: unset;
        max-height: unset;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;

        @include mq('large', 'max') {
            display: block;
        }
    }


    .section-header {
        padding-top: 0;
    }

    .section-header--about {
        @include mq('large', 'max') {
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::before {
            background: url('../images/about-title-icon.svg') no-repeat;
            background-size: contain;
        }
    }


    .section-image {
        flex-grow: 1;
        position: relative;
        min-height: 100%;

        @include mq('large', 'max') {
            width: 100%;
            padding: 1rem;
        }

        picture {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 1rem;

            @include mq('large', 'max') {
                position: unset;
                transform: unset;
                padding: unset;
            }

            img {
                max-height: 700px;

                @include mq('large', 'max') {
                    max-width: 100%;
                }
            }
        }
    }

    .section-info {
        width: 50%;

        @include mq('large', 'max') {
            width: 100%;
        }
    }
}

.about .section-text {
    @include mq('large', 'max') {
        font-size: 12px;
        line-height: 20px;
        max-height: 200px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            content: 'Ver mais +';
            display: flex;
            align-items: flex-end;
            text-decoration: underline;
            background-image: linear-gradient(transparent, $black, $black 150px);
            font-size: 14px;
        }

        &--open {
            max-height: 100%;

            &::after {
                display: none;
            }
        }
    }
}

.about-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
