// Imports
// ------------------------------------------------
@import '../base/variables';
@import '../base/mixins';

.about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden;

    @include mq('large', 'max') {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .section-header--about {
        @include mq('large', 'max') {
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::before {
            background: url('../images/about-title-icon.svg') no-repeat;
            background-size: contain;
        }
    }

    .section-image {
        width: 50%;

        @include mq('large', 'max') {
            width: 100%;
            padding: 1rem 3rem;
        }
    }

    .section-info {
        width: 50%;
        padding: 0 6rem;

        @include mq('large', 'max') {
            width: 100%;
            padding: 1rem;
        }
    }
}

.about .section-text {
    @include mq('large', 'max') {
        font-size: 12px;
        line-height: 20px;
        max-height: 200px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            content: 'Ver mais +';
            display: flex;
            align-items: flex-end;
            text-decoration: underline;
            background-image: linear-gradient(transparent, $black, $black 150px);
            font-size: 14px;
        }

        &--open {
            max-height: 100%;

            &::after {
                display: none;
            }
        }
    }
}

.about-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
