<section class="footer">
    <div class="container">
        <div class="footer-left">
            <a href="#"><img src="images/konami-logo.svg" alt=""></a>
        </div>
        <div class="footer-center">
            <ul class="footer-menu">
                <li class="footer-menu-item"><a href="#">Privacidade</a></li>
                <li class="footer-menu-item"><a href="#">Termos</a></li>
                <li class="footer-menu-item"><a href="#">Cookies</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <ul class="footer-social">
                <li class="footer-social-item"><a href="#"><img src="images/social-facebook.svg" alt=""></a></li>
                <li class="footer-social-item"><a href="#"><img src="images/social-instagram.svg" alt=""></a></li>
                <li class="footer-social-item"><a href="#"><img src="images/social-twitter.svg" alt=""></a></li>
                <li class="footer-social-item"><a href="#"><img src="images/social-youtube.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-extra">
        <a href="#"><img src="images/sala7-logo.svg" alt=""></a>
    </div>
</section>
