// Imports
// ------------------------------------------------
@import '../base/variables';
@import '../base/mixins';

.contact {
    background: $black;
    padding: 6rem;

    @include mq('large', 'max') {
        padding: 6rem 1rem 3rem 1rem;
    }

    .container {
        display: flex;
    }
}

.contact-form {
    width: 50%;

    @include mq('large', 'max') {
        width: 100%
    }

    .section-header--contact::before {
        background: url('../images/contact-title-icon.svg') no-repeat;
        background-size: contain;
    }
}

.contact-image {
    position: relative;
    width: 600px;

    @include mq('large', 'max') {
        display: none;
    }

    img {
        position: absolute;
        top: -145px;
    }
}

.contact-form {
    label {
        display: none;
    }

    input {
        border: none;
        border-bottom: solid 1px $white;
        background: transparent;
        padding: 1rem 0;
        width: 100%;
        margin-bottom: 60px;
        color: $white;

        @include mq('large', 'max') {
            margin-bottom: 1rem;
        }
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__field {
        width: 100%;
    }

    &__field--email,
    &__field--tel {
        width: 47%;

        @include mq('large', 'max') {
            width: 100%;
        }
    }

    &__field--btn {
        width: 100%;

        .btn {
            float: right;

            @include mq('large', 'max') {
                margin-top: 1rem;
            }
        }
    }
}
