<section class="contact" id="contato">
    <div class="container">
        <div class="contact-form">
            <!-- Title -->
            <div class="section-header section-header--contact">
                <p class="section-header__subtitle">Contato</p>
                <header class="section-header__title">Conversa de bar</header>
            </div>
            <!-- Title -->
            <form action="" method="get" class="contact-form__fields">
                <div class="contact-form__field contact-form__field--nome">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="Nome" required>
                </div>
                <div class="contact-form__field contact-form__field--email">
                    <label for="email">E-mail: </label>
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                </div>
                <div class="contact-form__field contact-form__field--tel">
                    <label for="email">Telefone:</label>
                    <input type="tel" name="tel" id="tel" placeholder="Telefone" required>
                </div>
                <div class="contact-form__field contact-form__field--message">
                    <label for="email">Mensagem:</label>
                    <input type="text" name="mensagem" id="mensagem" placeholder="Telefone" required>
                </div>
                <div class="contact-form__field contact-form__field--btn">
                    <button type="submit" class="btn btn--primary">Enviar</button>
                </div>
            </form>
        </div>
        <div class="contact-image">
            <picture>
                <source media="(max-width: 450px)" srcset="uploads/contato.png">
                <source media="(max-width: 1024px)" srcset="uploads/contato@2x.png">
                <source media="(min-width: 1025px)" srcset="uploads/contato@3x.png">
                <img src="uploads/contato@3x.png" alt="contact image">
            </picture>
        </div>
    </div>
</section>
