<section class="characters">
    <div class="container">
        <header class="characters__title">Os Convidados</header>
        <p class="characters__subtitle">Personagens</p>
    </div>
    <div class="characters__list">
        <div class="characters__list-item">
            <figure>
                <img src="images/personagem-01.png" alt="personagem">
            </figure>
            <figcaption class="characters__list-item__description">
                <h3 class="characters__list-item__description__title">Sarah Barcelos</h3>
                <p class="characters__list-item__description__text">Ornitorrinco</p>
            </figcaption>
        </div>

        <div class="characters__list-item">
            <figure>
                <img src="images/personagem-02.png" alt="personagem">
            </figure>
            <figcaption class="characters__list-item__description">
                <h3 class="characters__list-item__description__title">Sarah Barcelos</h3>
                <p class="characters__list-item__description__text">Ornitorrinco</p>
            </figcaption>
        </div>

        <div class="characters__list-item">
            <figure>
                <img src="images/personagem-03.png" alt="personagem">
            </figure>
            <figcaption class="characters__list-item__description">
                <h3 class="characters__list-item__description__title">Sarah Barcelos</h3>
                <p class="characters__list-item__description__text">Ornitorrinco</p>
            </figcaption>
        </div>
        <div class="characters__list-controls">
            <div class="characters__list-controls__prev">Anterior</div>
            <div class="characters__list-controls__next">Proximo</div>
            <div class="characters__list-controls__all">Ver todos</div>
        </div>
    </div>
</section>
