<section class="characters">

    <!-- Title -->
    <div class="section-header section-header--characters container">
        <p class="section-header__subtitle">Personagens</p>
        <header class="section-header__title">Os convidados</header>
    </div>
    <!-- Title -->

    <!-- Character List -->
    <div class="characters-list">
        <div class="characters-list__items">

            <!-- Character Card -->
            <div class="characters-list__item characters-list__item--magenta">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-01.png 1x, uploads/personagem-01@2x.png 1.5x, uploads/personagem-01@3x.png 2x"
                            src="uploads/personagem-01@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Sarah Barcelos</h3>
                        <p class="characters-list__item-description__text">Ornitorrinco</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--orange">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-02.png 1x, uploads/personagem-02@2x.png 1.5x, uploads/personagem-02@3x.png 2x"
                            src="uploads/personagem-02@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Natália Clarimond</h3>
                        <p class="characters-list__item-description__text">A fada</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--red">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-03.png 1x, uploads/personagem-03@2x.png 1.5x, uploads/personagem-03@3x.png 2x"
                            src="uploads/personagem-03@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Lourenço Sombra</h3>
                        <p class="characters-list__item-description__text">O Cangaceiro</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--purple">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-04.png 1x, uploads/personagem-04@2x.png 1.5x, uploads/personagem-04@3x.png 2x"
                            src="uploads/personagem-04@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Lucy Fernandez</h3>
                        <p class="characters-list__item-description__text">A Demônia</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--green">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-05.png 1x, uploads/personagem-05@2x.png 1.5x, uploads/personagem-05@3x.png 2x"
                            src="uploads/personagem-05@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Cristiano Martins</h3>
                        <p class="characters-list__item-description__text">O Anjo</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--magenta">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-01.png 1x, uploads/personagem-01@2x.png 1.5x, uploads/personagem-01@3x.png 2x"
                            src="uploads/personagem-01@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Sarah Barcelos</h3>
                        <p class="characters-list__item-description__text">Ornitorrinco</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--orange">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-02.png 1x, uploads/personagem-02@2x.png 1.5x, uploads/personagem-02@3x.png 2x"
                            src="uploads/personagem-02@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Natália Clarimond</h3>
                        <p class="characters-list__item-description__text">A fada</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--red">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-03.png 1x, uploads/personagem-03@2x.png 1.5x, uploads/personagem-03@3x.png 2x"
                            src="uploads/personagem-03@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Lourenço Sombra</h3>
                        <p class="characters-list__item-description__text">O Cangaceiro</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--purple">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-04.png 1x, uploads/personagem-04@2x.png 1.5x, uploads/personagem-04@3x.png 2x"
                            src="uploads/personagem-04@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Lucy Fernandez</h3>
                        <p class="characters-list__item-description__text">A Demônia</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters-list__item characters-list__item--green">
                <a href="#">
                    <figure>
                        <img class="img-responsive" srcset="uploads/personagem-05.png 1x, uploads/personagem-05@2x.png 1.5x, uploads/personagem-05@3x.png 2x"
                            src="uploads/personagem-05@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters-list__item-description">
                        <h3 class="characters-list__item-description__title">Cristiano Martins</h3>
                        <p class="characters-list__item-description__text">O Anjo</p>
                    </figcaption>
                </a>
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Character List -->

    <!-- Slider Controllers -->
    <div class="characters-list-controls container">
        <div class="characters-list-controls__item characters-list-controls__item--prev"><a href="#">Anterior</a>
        </div>
        <div class="characters-list-controls__item characters-list-controls__item--next"><a href="#">Proximo</a></div>
        <div class="characters-list-controls__item characters-list-controls__item--all"><a href="#">Ver todos</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="characters-list-modal">
        <div class="characters-list-modal__container">
            <!-- Close button -->
            <div class="characters-list-modal__close">Close</div>

            <!-- Info -->
            <div class="characters-list-modal__info">
                <!-- Name -->
                <div class="characters-list-modal__header">
                    <h2 class="characters-list-modal__header-title">Cristiano Martins</h2>
                    <p class="characters-list-modal__header-subtitle">O Anjo</p>
                </div>

                <!-- Descriptioon -->
                <div class="characters-list-modal__description">
                    <p>Moço comportado de fé verdadeira, Cristiano contrasta com Lucy como água e fogo, numa relação nem
                        sempre agradável. Com o poder do traje, Cristiano acredita que recebeu um chamado celestial em
                        meio
                        ao pecado que sua cidade se encontra mergulhada. </p>
                    <p>Suas asas podem ser pesadas no chão, mas também o fazem voar, ampliando seus combos aéreos e
                        alcançando longas distâncias.</p>
                </div>

                <!-- Skills -->
                <div class="characters-list-modal__skills">

                    <!-- Main Skills -->
                    <div class="characters-list-modal__skills__main">
                        <h3 class="characters-list-modal__skills__main-title">Poder principal</h3>
                        <p class="characters-list-modal__skills__main-description">Poder de vôo e chutes aéreos</p>
                    </div>

                    <!-- Secondary Skills -->
                    <div class="characters-list-modal__skills__secondary">
                        <div class="characters-list-modal__skills__secondary__item">
                            <h4 class="characters-list-modal__skills__secondary__item-title">Poder de ataque</h4>
                            <progress value="40" max="100"></progress>
                        </div>
                        <div class="characters-list-modal__skills__secondary__item">
                            <h4 class="characters-list-modal__skills__secondary__item-title">Velocidade</h4>
                            <progress value="10" max="100"></progress>
                        </div>
                        <div class="characters-list-modal__skills__secondary__item">
                            <h4 class="characters-list-modal__skills__secondary__item-title">Poder de Defesa</h4>
                            <progress value="75" max="100"></progress>
                        </div>
                        <div class="characters-list-modal__skills__secondary__item">
                            <h4 class="characters-list-modal__skills__secondary__item-title">Peso</h4>
                            <progress value="30" max="100"></progress>
                        </div>
                    </div>
                </div>
                <!-- /Skills -->
            </div>
            <!-- /Info -->

            <!-- Gallery -->
            <div class="characters-list-modal__gallery">
                <!-- Items -->
                <div class="characters-list-modal__gallery-items">

                    <div class="characters-list-modal__gallery-items__item">
                        <div class="characters-list-modal__gallery__item-main">
                            <figure>
                                <img srcset="uploads/character-image.png 1x, uploads/character-image@2x.png 1.5x, uploads/character-image@3x.png 2x"
                                src="uploads/character-image@3x.png" alt="personagem" width="335" height="403">
                            </figure>
                        </div>

                        <div class="characters-list-modal__gallery__item-main">
                            <figure>
                                <img srcset="uploads/character-image-02.png 1x, uploads/character-image-02@2x.png 1.5x, uploads/character-image-02@3x.png 2x"
                                src="uploads/character-image-02@3x.png" alt="personagem" width="335" height="403">
                            </figure>
                        </div>

                        <div class="characters-list-modal__gallery__item-main">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HOSQh4gQKP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
    
                    </div>
                </div>
                <!-- /Items -->

                <!-- Thumbnails -->
                <div class="characters-list-modal__gallery-thumbnails">
                    <div class="characters-list-modal__gallery-thumbnail">
                        <a href="#">
                            <figure>
                                <img srcset="uploads/thumb-cristiano.png 1x, uploads/thumb-cristiano@2x.png 1.5x, uploads/thumb-cristiano@3x.png 2x"
                                src="uploads/thumb-cristiano@3x.png" alt="personagem" width="80" height="80">
                            </figure>
                        </a>
                    </div>
                    <div class="characters-list-modal__gallery-thumbnail">
                        <a href="#">
                            <figure>
                                <img srcset="uploads/thumb-cristiano-b-side.png 1x, uploads/thumb-cristiano-b-side@2x.png 1.5x, uploads/thumb-cristiano-b-side@3x.png 2x"
                                src="uploads/thumb-cristiano-b-side@3x.png" alt="personagem" width="80" height="80">
                            </figure>
                        </a>
                    </div>
                    <div class="characters-list-modal__gallery-thumbnail">
                        <a href="#">
                            <figure>
                                <img srcset="uploads/thumb-video.png 1x, uploads/thumb-video@2x.png 1.5x, uploads/thumb-video@3x.png 2x"
                                src="uploads/thumb-video@3x.png" alt="personagem" width="118" height="80">
                            </figure>
                        </a>
                    </div>
                    </div>
                <!-- /Thumbnails -->

                <!-- Controls -->
                <div class="characters-list-modal__gallery-controls">
                    <button class="characters-list-modal__gallery-control btn-controls btn-controls--prev">Anterior</button>
                    <button class="characters-list-modal__gallery-control btn-controls btn-controls--next">Próximo</button>
                </div>
                <!-- /Controls -->
            </div>
            <!-- /Gallery -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Modal -->

</section>
