<section class="characters">
    <div class="characters__header container">
        <p class="characters__subtitle">Personagens</p>
        <header class="characters__title">Os convidados</header>
    </div>
    <div class="characters__list">
        <div class="characters__list-items">
            <div class="characters__list-item characters__list-item--magenta">
                <a href="#">
                    <figure>
                        <img src="images/personagem-01@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters__list-item__description">
                        <h3 class="characters__list-item__description__title">Sarah Barcelos</h3>
                        <p class="characters__list-item__description__text">Ornitorrinco</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters__list-item characters__list-item--orange">
                <a href="#">
                    <figure>
                        <img src="images/personagem-02@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters__list-item__description">
                        <h3 class="characters__list-item__description__title">Natália Clarimond</h3>
                        <p class="characters__list-item__description__text">A fada</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters__list-item characters__list-item--red">
                <a href="#">
                    <figure>
                        <img src="images/personagem-03@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters__list-item__description">
                        <h3 class="characters__list-item__description__title">Lourenço Sombra</h3>
                        <p class="characters__list-item__description__text">O Cangaceiro</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters__list-item characters__list-item--purple">
                <a href="#">
                    <figure>
                        <img src="images/personagem-04@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters__list-item__description">
                        <h3 class="characters__list-item__description__title">Lucy Fernandez</h3>
                        <p class="characters__list-item__description__text">A Demônia</p>
                    </figcaption>
                </a>
            </div>

            <div class="characters__list-item characters__list-item--green">
                <a href="#">
                    <figure>
                        <img src="images/personagem-05@3x.png" alt="personagem">
                    </figure>
                    <figcaption class="characters__list-item__description">
                        <h3 class="characters__list-item__description__title">Cristiano Martins</h3>
                        <p class="characters__list-item__description__text">O Anjo</p>
                    </figcaption>
                </a>
            </div>
        </div>

        <div class="characters__list-controls container">
            <div class="characters__list-controls__prev">Anterior</div>
            <div class="characters__list-controls__next">Proximo</div>
            <div class="characters__list-controls__all">Ver todos</div>
        </div>
    </div>

</section>
