// Imports
// ------------------------------------------------
@import '../base/variables';
@import '../base/mixins';

.plataforms-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.plataforms-item {
    padding: 0 1rem;

    @include mq('large', 'max') {
        padding: 0 0.5rem;

        img {
            max-height: 27px;
        }
    }
}
