<section class="plataforms">
    <div class="container">
        <div class="plataforms-items">
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-nintendo-switch.svg" alt=""></a></div>
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-ps4.svg" alt=""></a></div>
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-xbox-one.svg" alt=""></a></div>
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-pc.svg" alt=""></a></div>
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-valente.svg" alt=""></a></div>
            <div class="plataforms-item"><a href="#"><img src="uploads/plataforms-radioativa.svg" alt=""></a></div>
        </div>
    </div>
</section>
