<section class="awards" id="premios">
    <div class="container">
        <div class="awards-text">
            <h4 class="awards-text-title">Campeão de várias formas</h4>
            <p class="awards-text-description">Melhor Jogo por voto popular no SBGames 2015 e melhor jogo Brasileiro na
                BGS de 2016. Além disso o projeto já foi aprovado no Steam Greenlight, sendo seu primeiro lançamento a
                partir dessa plataforma. Além de ter ganho o prêmio melhor jogo do mundo, melhor jogo da terra, melhor
                jogo de luta do mundo e o jogo mais irado para jogar com os amigos.</p>
            <button href="#" class="btn btn--primary awards-text-button">Baixe o Jogo</button>
        </div>
        <div class="badges-slides">
            <div class="awards-badges">
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-01.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-01@2x.png">
                        <img src="uploads/award-01@2x.png" alt="award-01" class="img-responsive">
                    </picture>
                </div>
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-02.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-02@2x.png">
                        <img src="uploads/award-02@2x.png" alt="award-02" class="img-responsive">
                    </picture>
                </div>
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-03.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-03@2x.png">
                        <img src="uploads/award-03@2x.png" alt="award-03" class="img-responsive">
                    </picture>
                </div>
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-04.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-04@2x.png">
                        <img src="uploads/award-04@2x.png" alt="award-04" class="img-responsive">
                    </picture>
                </div>
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-05.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-05@2x.png">
                        <img src="uploads/award-05@2x.png" alt="award-05" class="img-responsive">
                    </picture>
                </div>
                <div class="awards-badge">
                    <picture>
                        <source media="(max-width: 1024px)" srcset="uploads/award-06.png">
                        <source media="(min-width: 1025px)" srcset="uploads/award-06@2x.png">
                        <img src="uploads/award-06@2x.png" alt="award-06" class="img-responsive">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
