<section class="awards">
    <div class="container">
        <div class="awards-text">
            <h4 class="awards-text-title">Campeão de várias formas</h4>
            <p class="awards-text-description">Melhor Jogo por voto popular no SBGames 2015 e melhor jogo Brasileiro na
                BGS de 2016. Além disso o projeto já foi aprovado no Steam Greenlight, sendo seu primeiro lançamento a
                partir dessa plataforma. Além de ter ganho o prêmio melhor jogo do mundo, melhor jogo da terra, melhor
                jogo de luta do mundo e o jogo mais irado para jogar com os amigos.</p>
            <button href="#" class="btn btn--primary awards-text-button">Baixe o Jogo</button>
        </div>
        <div class="awards-badges">
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-01.png 1x, uploads/award-01@2x.png 1.5x, uploads/award-01@2x.png 2x"
                    src="uploads/award-01@2x.png" alt="award">
            </div>
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-02.png 1x, uploads/award-02@2x.png 1.5x, uploads/award-02@2x.png 2x"
                    src="uploads/award-02@2x.png" alt="award">
            </div>
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-03.png 1x, uploads/award-03@2x.png 1.5x, uploads/award-03@2x.png 2x"
                    src="uploads/award-03@2x.png" alt="award">
            </div>
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-04.png 1x, uploads/award-04@2x.png 1.5x, uploads/award-04@2x.png 2x"
                    src="uploads/award-04@2x.png" alt="award">
            </div>
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-05.png 1x, uploads/award-05@2x.png 1.5x, uploads/award-05@2x.png 2x"
                    src="uploads/award-05@2x.png" alt="award">
            </div>
            <div class="awards-badge">
                <img class="img-responsive"
                    srcset="uploads/award-06.png 1x, uploads/award-06@2x.png 1.5x, uploads/award-06@2x.png 2x"
                    src="uploads/award-06@2x.png" alt="award">
            </div>
        </div>
    </div>
</section>
