// Imports
// ------------------------------------------------
@import './variables';
@import './mixins';
@import './reset';
@import './grid';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


// Basic Structure
// ------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    background: $black-soft;
    color: $color-primary;
    font-family: $font-primary;
    font-weight: $weight-normal;
    font-size: $size-16;    
}

a {
    font-weight: $weight-light;
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

// Buttons
// ------------------------------------------------
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: $size-14;
    color: $white;
    padding: 0 0.5rem;
    border-radius: 6px;
    border: solid 2px;
    min-width: 105px;
    min-height: 38px;
    background: none;
    transition: all 0.2s ease-in-out;

    @include mq('large') {
        font-size: $size-18;
        text-transform: uppercase;
        min-width: 216px;
        min-height: 64px;
    }

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        text-decoration: none;
    }

    &--primary {
        background: $color-accent;
        border-color: $color-accent;

        @include mq('large') {
            font-weight: $weight-bold;
            letter-spacing: 3px;
        }
    }

    &--secondary {
        @include mq('large') {
            letter-spacing: 2px;
        }
    }
}
