// Imports
// ------------------------------------------------
@import './variables';
@import './mixins';
@import './reset';
@import './grid';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


// Basic Structure
// ------------------------------------------------

body {
    background: $black;
    color: $color-primary;
    font-family: $font-primary;
}

a {
    font-weight: $weight-light;
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
