// Imports
// ------------------------------------------------
@import './variables';
@import './mixins';
@import './reset';
@import './grid';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


// Basic Structure
// ------------------------------------------------

body {
    background: $black;
    color: $color-primary;
    font-family: $font-primary;
    font-size: $size-16;
}

a {
    font-weight: $weight-light;
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

// Buttons
// ------------------------------------------------
.btn {
    font-size: $size-18;
    text-transform: uppercase;
    color: $white;
    padding: 0 1rem;
    border-radius: 6px;
    border: solid 2px;
    min-width: 216px;
    min-height: 64px;
    background: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &--primary {
        background: $color-accent;
        border-color: $color-accent;
        font-weight: $weight-bold;
        letter-spacing: 3px;
    }

    &--secondary {
        letter-spacing: 2px;
    }
}
