<!DOCTYPE html>
<html lang="en">

<head>
    <noscript>
        <div class="alert alert-danger" role="alert">
            You need to enable JavaScript to run this app.
        </div>
    </noscript>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">

    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- INFO -->
    <title>Trajes Fatais - O destino do mundo está nas suas mãos</title>
    <meta name="description" content="O destino do mundo está nas suas mãos" />
    <meta name="keywords" content="Trajes Fatais" />

    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Apple Touch Icon (at least 200x200px) -->
    <link rel="apple-touch-icon" href="tile.png">

    <!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml" />

    <!-- SOCIAL -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="htt://trajesfatais.pt">
    <meta property="og:title" content="Trajes Fatais">
    <meta property="og:image" content="tile-wide.png">
    <meta property="og:description"
        content="O destino do mundo está nas suas mãos">
    <meta property="og:site_name"
        content="Trajes Fatais - O destino do mundo está nas suas mãos">
    <meta property="og:locale" content="en_US">

    <!-- STYLES -->
    <link rel="stylesheet" href="css/main.min.css?version=1.0">
</head>

<body>
