@import '../base/variables';

.main-header {
    display: flex;
    align-items: center;

    margin-top: 2rem;
    
    .site-logo {
        width: 220px;
        height: 140px;
    }

    .main-navbar {
        &-items {
            list-style: none;
        }

        &-item {
            font-size: $size-18;
            text-transform: uppercase;
            padding: 0 1rem;
        }
        &--primary {
            flex-grow: 1;
        }
        &--secondary {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20rem;
            height: 2rem;
            overflow: hidden;

            border: solid 1px white;
            border-radius: 0.25rem;
        }
    }
}
