@import '../base/variables';
@import '../base/mixins';

.main-header {
    display: flex;
    align-items: center;
    position: relative;

    padding-top: 1rem;

    @include mq('large') {
        padding-top: 2rem;
    }

    .site-logo {
        display: inline-block;
        width: 140px;
        height: 91px;

        @include mq('large') {
            width: 220px;
            height: 140px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .main-navbar {
        @include mq('large', 'max') {
            display: none;
        }

        &-items {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            font-size: $size-18;
            text-transform: uppercase;
            padding: 0 1rem;

            a {
                display: flex;
                height: 100%;
                ;
            }
        }
    }

    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        z-index: 1000;
        background: white;
        text-align: center;
        padding: 3rem 0;
        transform: translateX(130%);
        transition: transform 0.3s ease-in-out;

        &.open {
            transform: translateX(0);
        }

        a {
            color: $color-accent;
            font-weight: $weight-bold;
            font-size: $size-20;
        }

        &-items {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
        }

        &-item:not(:last-child) {
            margin-bottom: 1rem;
        }

        .mobile-navbar-btn {
            top: 2rem;
        }

    }

    .mobile-navbar-btn {
        display: block;
        width: 2rem;
        height: 2rem;
        background: $color-accent;
        position: absolute;
        right: 2rem;

        &:hover {
            cursor: pointer;
        }

        @include mq('large') {
            display: none;
        }

    }
}

.main-navbar--primary {
    flex-grow: 1;

    .main-navbar-item {
        position: relative;

        &::before {
            position: absolute;
            bottom: -0.5rem;
            // left: 0rem;
            height: 3px;
            width: 0%;
            display: block;
            content: '';
            background: $color-accent;
            transition: all 0.15s ease-in-out;
            z-index: 0;
            border-radius: 6px;
        }

        &:hover:before {
            transition: all 0.15s ease-in-out;
            width: calc(100% - 2rem);
        }

        a {
            position: relative;
            z-index: 10;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.main-navbar--secondary {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 2.1rem;
    overflow: hidden;
    border: solid 1px white;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;

    &.open {
        padding-bottom: 2.2rem;
        margin-top: 2.2rem;
        transition: all 0.2s ease-in-out;

        .main-navbar-items::before {
            transition: all 0.2s ease-in-out;
            transform: rotate(180deg) translateX(0.5rem);
            // transform: scaleY(-1);
        }

        .main-navbar-item {
            background: unset;
        }
    }

    .main-navbar-items {
        height: 100%;
        position: relative;

        &::before {
            display: block;
            content: '';
            height: 2rem;
            width: 2rem;
            background: url('/images/arrow-down.svg') no-repeat calc(100% - 0.7rem) center;
            position: absolute;
            right: 0;
            transition: all 0.2s ease-in-out;
        }
    }

    .main-navbar-item {
        padding: 0;
        width: 100%;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            padding: 0 3rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .lang-br a {
        background: url('/images/lang-br.svg') no-repeat 1rem center;
    }

    .lang-en a {
        background: url('/images/lang-en.svg') no-repeat 1rem center;
    }
}
