<header class="main-header container">
    <a href="/" title="Go to home page" class="site-logo ">
        <img src="images/logo.png" srcset="images/logo@2x.png 1000w, images/logo@3x.png 2000w" alt="Site logo" width="220" height="140">
    </a>
    <nav aria-labelledby="primary-nav-label" class="main-navbar main-navbar--primary">
        <div id="primary-nav-label" hidden>Primary</div>
        <ul class="main-navbar-items row">
            <li class="main-navbar-item col"><a href="#personagens">Personagens</a></li>
            <li class="main-navbar-item col"><a href="#sobre">Sobre o Jogo</a></li>
            <li class="main-navbar-item col"><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <nav aria-labelledby="secondary-nav-label"  class="main-navbar main-navbar--secondary">
        <div id="secondary-nav-label" hidden>Secondary</div>
        <ul class="main-navbar-items">
            <li class="main-navbar-item lang-br"><a href="#br">Português do Brasil</a></li>
            <li class="main-navbar-item land-en"><a href="#en">English</a></li>
        </ul>
    </nav>

    <nav aria-labelledby="mobile-nav-label"  class="mobile-navbar no-sr">
        <div class="mobile-navbar-btn"></div>
            
        <div id="mobile-nav-label" hidden>Mobile</div>
        <a href="/" title="Go to home page" class="site-logo ">
            <img src="images/logo.png" srcset="images/logo@2x.png 1000w, images/logo@3x.png 2000w" alt="Site logo" width="220" height="140">
        </a>
        <ul class="mobile-navbar-items row">
            <li class="mobile-navbar-item col"><a href="#baixe">Baixe o Jogo</a></li>
            <li class="mobile-navbar-item col"><a href="#personagens">Personagens</a></li>
            <li class="mobile-navbar-item col"><a href="#historia">Nossa História</a></li>
            <li class="mobile-navbar-item col"><a href="#premios">Prêmios</a></li>
            <li class="mobile-navbar-item col"><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <div class="mobile-navbar-btn"></div>
</header>
